@page
@model Animal_Cafe_Core_Web_App.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<div class="row">
    @foreach (var client in Model.ClientList)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <p><strong>Client Name:</strong> @client.Name</p>
                    <p><strong>Client Email:</strong> @client.Email</p>
                    <p><strong>Client Phone Number:</strong> @client.PhoneNumber</p>
                </div>
                <div class="card-footer">
                    @if (client.Email != null)
                    {
                        <form method="post" asp-page-handler="Delete" asp-route-id="@client.ID" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    } 
                </div>
            </div>
        </div>
    }
</div>
