@page
@model Animal_Cafe_Core_Web_App.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    @foreach (var client in Model.Client)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">

                    <p><strong>Client Name</strong> @client.Name</p>

                    <p><strong>Client Email</strong> @client.Email</p>

                    <p><strong>Client Phone Number</strong> @client.PhoneNumber</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@client.ID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>