@page
@model Animal_Cafe_Core_Web_App.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Create New Review</h5>
            </div>
            <div class="card-body">
                <h4>Animal Details</h4>
                <hr />
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Review.Rating" class="control-label"></label>
                        <input asp-for="Review.Rating" class="form-control" />
                        <span asp-validation-for="Review.Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Review.Comments" class="control-label"></label>
                        <input asp-for="Review.Comments" class="form-control" />
                        <span asp-validation-for="Review.Comments" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Review.ClientID" class="control-label"></label>
                        <input asp-for="Review.ClientID" class="form-control" />
                        <span asp-validation-for="Review.ClientID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Review.AnimalID" class="control-label"></label>
                        <select asp-for="Review.AnimalID" class="form-control text-white" asp-items="ViewBag.AnimalID">
                            <option class="text-white" value="">Please select...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-create mt-2" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a asp-page="./Index" class="btn btn-back mt-1">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
