@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="confirm-card">
<h1 class="confirm-text">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>