@page
@model Animal_Cafe_Core_Web_App.Pages.Reservations.EditModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Edit Reservation</h5>
            </div>
            <div class="card-body">
                <h4>Reservation Details</h4>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Reservation.ID" />

                    <div class="form-group">
                        <label asp-for="Reservation.NoOfClients" class="control-label"></label>
                        <input asp-for="Reservation.NoOfClients" class="form-control" />
                        <span asp-validation-for="Reservation.NoOfClients" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Reservation.ReservationDate" class="control-label"></label>
                        <input asp-for="Reservation.ReservationDate" class="form-control" />
                        <span asp-validation-for="Reservation.ReservationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reservation.FavouriteAnimal" class="control-label"></label>
                        <input asp-for="Reservation.FavouriteAnimal" class="form-control" />
                        <span asp-validation-for="Reservation.FavouriteAnimal" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Reservation.ClientID" class="control-label"></label>
                        <select asp-for="Reservation.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                        <span asp-validation-for="Reservation.ClientID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Reservation.AnimalID" class="control-label"></label>
                        <select asp-for="Reservation.AnimalID" class="form-control" asp-items="ViewBag.AnimalID"></select>
                        <span asp-validation-for="Reservation.AnimalID" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-save" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a class="btn btn-back" asp-page="./Index">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
