@page
@model Animal_Cafe_Core_Web_App.Pages.Animals.CreateModel
@{
    ViewData["Title"] = "Create Animal";
}

<h1>Create New Animal</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Animal.Name" class="control-label"></label>
        <input asp-for="Animal.Name" class="form-control" />
        <span asp-validation-for="Animal.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Animal.Breed" class="control-label"></label>
        <input asp-for="Animal.Breed" class="form-control" />
        <span asp-validation-for="Animal.Breed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Animal.Age" class="control-label"></label>
        <input asp-for="Animal.Age" class="form-control" />
        <span asp-validation-for="Animal.Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Animal.Description" class="control-label"></label>
        <textarea asp-for="Animal.Description" class="form-control"></textarea>
        <span asp-validation-for="Animal.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Animal.Health" class="control-label"></label>
        <input asp-for="Animal.Health" class="form-control" />
        <span asp-validation-for="Animal.Health" class="text-danger"></span>
    </div>

    <!-- Câmpul pentru imagine -->
    <div class="form-group">
        <label for="Animal.AnimalPhoto">Upload Image</label>
        <input type="file" name="AnimalPhoto" class="form-control" />
        <span asp-validation-for="Animal.AnimalPhoto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-save">Save</button>
</form>

