@page
@model Animal_Cafe_Core_Web_App.Pages.Animals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Edit Animal</h5>
            </div>
            <div class="card-body">
                <h4>Animal Details</h4>
                <hr />
                <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Animal.ID" />
            <div class="form-group">
                <label asp-for="Animal.Name" class="control-label"></label>
                <input asp-for="Animal.Name" class="form-control" />
                <span asp-validation-for="Animal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Breed" class="control-label"></label>
                <input asp-for="Animal.Breed" class="form-control" />
                <span asp-validation-for="Animal.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Age" class="control-label"></label>
                <input asp-for="Animal.Age" class="form-control" />
                <span asp-validation-for="Animal.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Description" class="control-label"></label>
                <input asp-for="Animal.Description" class="form-control" />
                <span asp-validation-for="Animal.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Health" class="control-label"></label>
                <input asp-for="Animal.Health" class="form-control" />
                <span asp-validation-for="Animal.Health" class="text-danger"></span>
            </div>
            <!-- Câmpul pentru imagine -->
                    <div class="form-group">
                        <label asp-for="AnimalPhoto" class="control-label">Upload New Photo</label>
                        <input type="file" asp-for="AnimalPhoto" class="form-control" />
                    </div>

                    @if (Model.Animal.AnimalPhoto != null && Model.Animal.AnimalPhoto.Length > 0)
                    {
                        <div class="form-group">
                            <label><strong>Current Photo:</strong></label><br />
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Animal.AnimalPhoto)" alt="Animal Photo" class="img-thumbnail" style="max-width:200px;" />
                        </div>
                    }

            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-save" />
            </div>
          </form>
        </div>
            <div class="card-footer">
                <a asp-page="./Index" class="btn btn-back">Back</a>
            </div>
      </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
